
<p>
  <strong>User:</strong>
  <%= @project_access.user %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_access.project %>
</p>

<p>
  <strong>Access:</strong>
  <%= @project_access.access %>
</p>
