<h1>Editing Spec Object</h1>

<%= render 'form', spec_object: @spec_object %>

<%= link_to 'Show', @spec_object %>
<%= link_to 'Back', go_back_path(1),  onclick: 'validateBack(1, this)', class: 'btn' %>
