<h1>Spec Objects</h1>

<table class="responsive nowrap table table-hover" id="dttb-spec_objects" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="type">Type</th>
      <th data-data="data">Data</th>
      <th data-data="value">Value</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Spec Object', new_spec_object_path %>