Greetings:
<p>
Your license for PACT expired <%= @days %> days ago.
</p>
<p>
To renew and/or discuss Project Archival options, please contact info@airworthinesscert.com.  
</p>
<p>
PACT Automation<br>
pact_cm@airworthinesscert.com
</p>
