Greetings:
<p>
Your license for PACT will expire in <%= @days %> days.
</p>
<p>
To renew and/or discuss Project Archival options, please contact info@airworthinesscert.com.  
</p>
<p>
Thanks for addressing this issue.
</p>
<p>
PACT Automation<br>
pact_cm@airworthinesscert.com
</p>
