<% provide(:title, "About") %>
<h1>Process and Artifact Compliance Tool</h1>
<p>
<h3>
  Version: <%= Tool::Application::VERSION %>
</h3>
</p>
<p>
  Copyright 2019 by Airworthiness Certification Services LLC <br>
  All Rights Reserved.
</p>
