
/* mixins, variables, etc. */

// Bootstrap Colors: https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss
$gray-medium-light: #eaeaea;
$gray-darker: gray-dark;
$gray: gray;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 80px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  max-width: 40em;
  margin-bottom: 15px;
  height: auto !important;
  @include box_sizing;
}

input[type="radio"], input[type="checkbox"] {
    width: 3em !important;
    height: 3em !important;
    vertical-align: middle;
    box-sizing: border-box !important;
    padding: 0 !important;
}
.boolean {
  height: auto !important;
  width: auto !important;
  margin: 0px 0px 0px 0px;
}

.btn-sm {
  display: inline-block;
  background-color: #0000D0;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  border: 1px solid;
  line-height: 1;
  border-radius: 0.5rem;
  vertical-align: top;
  white-space: nowrap;
  width: auto !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-menu {
  display: inline-block;
  background-color: #000080;
  border: none;
  color: lightgray;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;  display: inline-block;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  border-radius: 0.0rem;
  box-sizing: border-box;
  vertical-align: top;
  white-space: nowrap;
  width: auto !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-menu:hover {
  display: inline-block;
  background-color: #0000FF;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  border: none;
  border-radius: 0.0rem;
  box-sizing: border-box;
  vertical-align: top;
  white-space: nowrap;
  width: auto !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn {
  display: inline-block;
  background-color: #0000D0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid;
  line-height: 1;
  border-radius: 0.75rem;
  vertical-align: top;
  white-space: nowrap;
  width: auto !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.top-bar {
  position: fixed !important;
  top: 50px !important;
  left: 10px !important;
  width: 100% !important;
  background-color: white !important;
   z-index: +1;
}

.middle-bar {
  position: fixed !important;
  top: 90px !important;
  left: 10px !important;
  width: 100% !important;
  background-color: white !important;
   z-index: +1;
}

.main-pane {
  position: relative !important;
  top: 85px !important;
}

.btn:hover { 
  background-color: #0000ff !important;
  color: white !important;
}

.btn:disabled { 
  background-color: #000000 !important;
  color: gray !important;
}

a:hover { 
  background-color: #0000ff !important;
  color: white !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

input.largerCheckbox {
    width:  20px  !important;
    height: 20px !important;
} 

.note-editable {
  font-size: 14px !important;
}

.card-block {
  font-size: 14px !important;
}

div.note-editable.card-block {
  font-size: 14px !important;
}
