word-body {
        font-family:   Cambria, Georgia, serif !important; 
        font-style:    normal !important;
        font-variant:  normal !important;
        font-weight:   normal !important;
        font-color:    black !important;
        font-size:     11pt !important;
        line-height:   13pt !important;
        padding:       0px !important;
        margin:        0px 0px 0px 0px !important;
        margin-left:   0 !important;
        border:        none !important;
        counter-reset: section;
}

word-title {
        font-family: Calibri, Candara, Segoe, "Segoe UI" !important;
        font-style:   normal !important;
        font-variant: normal !important;
        font-weight:  bold !important;
        font-color:   blue !important;
        font-size:    18pt !important;
        line-height:  20pt !important;
        padding:      0px !important;
        margin:       0px 0px 0px 0px !important;
        margin-left:  0 !important;
        border:       none !important;
}

word-h1 {
        font-family: Calibri, Candara, Segoe, "Segoe UI" !important;
        font-style:   normal !important;
        font-variant: normal !important;
        font-weight:  bold !important;
        font-color:   blue !important;
        font-size:    16pt !important;
        line-height:  18pt !important;
        padding:      0px !important;
        margin:       0px 0px 0px 0px !important;
        margin-left:  0 !important;
        border:       none !important;
}

word-h2 {
        font-family: Calibri, Candara, Segoe, "Segoe UI" !important;
        font-style:   normal !important;
        font-variant: normal !important;
        font-weight:  bold !important;
        font-color:   lightblue !important;
        font-size:    16pt !important;
        line-height:  18pt !important;
        padding:      0px !important;
        margin:       0px 0px 0px 0px !important;
        margin-left:  0 !important;
        border:       none !important;
}

word-h3 {
        font-family: Calibri, Candara, Segoe, "Segoe UI" !important;
        font-style:   normal !important;
        font-variant: normal !important;
        font-weight:  bold !important;
        font-color:   lightblue !important;
        font-size:    14pt !important;
        line-height:  16pt !important;
        padding:      0px !important;
        margin:       0px 0px 0px 0px !important;
        margin-left:  0 !important;
        border:       none !important;
}

word-h4 {
        font-family: Calibri, Candara, Segoe, "Segoe UI" !important;
        font-style:   normal !important;
        font-variant: normal !important;
        font-weight:  bold !important;
        font-color:   lightblue !important;
        font-size:    12pt !important;
        line-height:  14pt !important;
        padding:      0px !important;
        margin:       0px 0px 0px 0px !important;
        margin-left:  0 !important;
        border:       none !important;
}

word-h5 {
        font-family: Calibri, Candara, Segoe, "Segoe UI" !important;
        font-style:   normal !important;
        font-variant: normal !important;
        font-weight:  bold !important;
        font-color:   lightblue !important;
        font-size:    10pt !important;
        line-height:  12pt !important;
        padding:      0px !important;
        margin:       0px 0px 0px 0px !important;
        margin-left:  0 !important;
        border:       none !important;
}

word-h6 {
        font-family: Calibri, Candara, Segoe, "Segoe UI" !important;
        font-style:   normal !important;
        font-variant: normal !important;
        font-weight:  italic !important;
        font-color:   lightblue !important;
        font-size:    10pt !important;
        line-height:  12pt !important;
        padding:      0px !important;
        margin:       0px 0px 0px 0px !important;
        margin-left:  0 !important;
        border:       none !important;
}
